.contactoPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactoTitulo{
    display:flex;
    color:white;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 20px;
    h1{
        font-size: 25px;
    }
}
.contactoForm{
    width: 400px;
}
.mb-3{
    color: black;
    }
.form-label{
    color: white;
}