.contactoPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.contactoTitulo{
    display:flex;
    color:white;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 20px;
    h1{
        font-size: 25px;
    }
}
.contactoForm{
    width: 320px;
}
.mb-3{
    color: $color;
    }
.form-label{
    color: white;
}